.background{
  background-color: #252324;
  opacity: 0,5;
}

  
.home1{
  display: grid;
  grid-template-columns: 80px 235px;
  display: inline-block;
  font-family: Arial;
  font-weight: bold;
  color:  #FFFDFA;
  font-size: 50px;
  text-align: center;
  margin-left: 560px;
  margin-top: 0%;
  text-align: center;
  
  
}
.home1:hover{
  cursor: pointer;
  color: white;
}
.home1:active{
  opacity: 0.2;
}


.firsthead{
  display: inline-block;
  width: 100%;
  height: 50px
}

.headers{
  height: 100px;
  width: 100%;
  background-color: black;
  border-color: white;
  border-style: inset;
  border-radius: 15px;
  margin: 0 0 0 0;
}
 
.gf{
  color: pink;
  font-weight: 100px;
}

.gf:hover{
  color: pink;
}

.container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: pink;
  border: white;
  border-radius: 20px;
  margin:auto;  
  margin-top: 170px;
  box-shadow: 0 0 10px 5px #743653fb;
  font-family: Arial;
  font-weight: bold;
}
.button {
  padding: 10px 20px;
  background-color: #743653fb;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 20px;
  transition: box-shadow 0.15s;
}

.button:hover{
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px 5px black;
}

.button:active{
  opacity: 0.5;
}
